@use'../abstract/constans' as c;
@use'../abstract/media' as m;

.logo {
  padding: 120px;
}

.logo__title {
  margin: 0 0 30px 0;
  text-align: center;
  color: c.$color-logo;
  font-size: 7.7rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  //@include m.media-mobale-small {
    //font-size: 4.0rem;
  //}
}