@charset "UTF-8";
@import './normalize.css';
.logo {
  padding: 30px;
}

.logo__title {
  margin: 0 0 30px 0;
  text-align: center;
  color: #fffbde;
  font-size: 5.7rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
}
@media (max-width: 471px) {
  .logo__title {
    font-size: 4rem;
  }
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.html-quiz {
  width: 100%;
  height: 100%;
  background-image: url("../../src/img/pic/photo_2024-06-16_15-59-07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.body-gallery {
  background-color: #000000;
}

.header {
  padding: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: right;
}

.header__setting {
  width: 36px;
  height: 36px;
  background-image: url("../../src/img/setting/settings.png");
  cursor: pointer;
}

.header__wrapper_artist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 2%;
}
@media (max-width: 301px) {
  .header__wrapper_artist {
    flex-direction: column;
    gap: 10px 0px;
  }
}

.header__artist {
  z-index: 7;
  margin: 0 0 0 0;
  font-size: 2.5rem;
  color: #fffbde;
  font-weight: 200;
  letter-spacing: 0.2rem;
  transition: 0.3s all;
}
@media (max-width: 471px) {
  .header__artist {
    font-size: 4rem;
  }
}
@media (max-width: 695px) {
  .header__artist {
    font-size: 2rem;
  }
}

.header__categories {
  color: #e18b34;
}

.picture {
  padding: 60px 30px;
}
@media (max-width: 395px) {
  .picture {
    padding: 5px;
  }
}

.picture__nav {
  display: flex;
  padding: 17% 0px 0px 0px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 855px) {
  .picture__nav {
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
  }
}

.picture__link {
  width: 260px;
  padding: 8px 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid #fffbf4;
  border-radius: 20px;
  color: #fffbf4;
}
@media (max-width: 471px) {
  .picture__link {
    font-size: 1.5rem;
  }
}
@media (max-width: 471px) {
  .picture__link {
    width: 200px;
  }
}

.footer {
  padding: 37% 30px 10px 30px;
}
@media (max-width: 1077px) {
  .footer {
    padding: 28% 30px 10px 30px;
  }
}
@media (max-width: 952px) {
  .footer {
    padding: 15% 30px 10px 30px;
  }
}
@media (max-width: 930px) {
  .footer {
    padding: 20% 30px 10px 30px;
  }
}
@media (max-width: 455px) {
  .footer {
    padding: 40% 5px 5px 5px;
  }
}
@media (max-width: 395px) {
  .footer {
    padding: 50% 5px 5px 5px;
  }
}
@media (max-width: 471px) {
  .footer {
    padding: 78% 5px 5px 5px;
  }
}

.footer__link {
  display: flex;
  padding: 30px 0px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 471px) {
  .footer__link {
    justify-content: left;
  }
}
@media (max-width: 248px) {
  .footer__link {
    flex-direction: column;
    gap: 5px 0;
  }
}

@media (max-width: 455px) {
  .footer__school_move {
    width: 61px;
    height: 23px;
  }
}

.footer__media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 471px) {
  .footer__media {
    flex-wrap: wrap;
    align-content: center;
    gap: 0 20px;
  }
}
@media (max-width: 248px) {
  .footer__media {
    flex-direction: column;
    align-content: flex-start;
  }
}

.footer__desk {
  padding-left: 50px;
  color: #fffbde;
  font-size: 2rem;
}
@media (max-width: 455px) {
  .footer__desk {
    padding-left: 30px;
    font-size: 1.5rem;
  }
}
@media (max-width: 471px) {
  .footer__desk {
    padding-left: 4px;
  }
}

.art__gallery {
  display: block;
  padding: 30px;
}

.art__gallery_title {
  margin: 0 0 70px 0;
  text-align: center;
  color: #e18b34;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 1115px) {
  .art__gallery_title {
    font-size: 3rem;
  }
}
@media (max-width: 695px) {
  .art__gallery_title {
    font-size: 2.6rem;
  }
}
@media (max-width: 301px) {
  .art__gallery_title {
    font-size: 2rem;
  }
}

.art__gallery_title_active {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}
@media (max-width: 1115px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 0px;
  }
}
@media (max-width: 855px) {
  .gallery {
    justify-items: center;
  }
}
@media (max-width: 855px) {
  .gallery {
    padding-bottom: 60px;
    gap: 70px 0px;
  }
}
@media (max-width: 695px) {
  .gallery {
    gap: 50px 0px;
  }
}
@media (max-width: 571px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 395px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 70px 0px;
  }
}

.gallery__active {
  display: none;
  transition: 0.5s all;
  pointer-events: none;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;
  animation: show 0.7s ease-in-out;
  animation-timing-function: linear;
}
@media (max-width: 855px) {
  .gallery__item {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 855px) {
  .gallery__item {
    gap: 20px 0px;
  }
}
@media (max-width: 695px) {
  .gallery__item {
    width: 159px;
    height: 200px;
  }
}
@media (max-width: 471px) {
  .gallery__item {
    width: 150px;
    height: 180px;
  }
}
@media (max-width: 395px) {
  .gallery__item {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 301px) {
  .gallery__item {
    width: 150px;
    height: 180px;
  }
}

.gallery__item_picture_port {
  background-image: url("../../src/img/categories/Портреты. Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_scenery {
  background-image: url("../../src/img/categories/Пейзажи. Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_domestic {
  background-image: url("../../src/img/categories/Бытовой жанр.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_mythology {
  background-image: url("../../src/img/categories/Мифологический сюжет.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_historical {
  background-image: url("../../src/img/categories/Исторический жанр.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_renaissance {
  background-image: url("../../src/img/categories/Возрождение.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_russia {
  background-image: url("../../src/img/categories/Русские художники.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_era {
  background-image: url("../../src/img/categories/Живопись_15-18В.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_impressionism {
  background-image: url("../../src/img/categories/Импрессионизм.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_startXIX {
  background-image: url("../../src/img/categories/1_пол_19В.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_endtXIX {
  background-image: url("../../src/img/categories/2_пол_19В.Картины.jpg");
  background-size: 250px 250px;
}
.gallery__item_picture_starttXX {
  background-image: url("../../src/img/categories/Начало_20В.Картины.jpg");
  background-size: 250px 250px;
}
@media (max-width: 855px) {
  .gallery__item_picture {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 855px) {
  .gallery__item_picture {
    gap: 20px 0px;
  }
}
@media (max-width: 695px) {
  .gallery__item_picture {
    width: 159px;
    height: 200px;
  }
}
@media (max-width: 471px) {
  .gallery__item_picture {
    width: 150px;
    height: 180px;
  }
}
@media (max-width: 395px) {
  .gallery__item_picture {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 301px) {
  .gallery__item_picture {
    width: 150px;
    height: 180px;
  }
}

.gallery__item_art_port {
  background-image: url("../../src/img/categories/Портреты.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_scenery {
  background-image: url("../../src/img/categories/Пейзажи.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_domestic {
  background-image: url("../../src/img/categories/Бытовой жанр.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_mythology {
  background-image: url("../../src/img/categories/Мифологический сюжет.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_historical {
  background-image: url("../../src/img/categories/Исторический жанр.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_renaissance {
  background-image: url("../../src/img/categories/Возрождение.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_russia {
  background-image: url("../../src/img/categories/Русские художники.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_era {
  background-image: url("../../src/img/categories/Живопись_15-18В.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_impressionism {
  background-image: url("../../src/img/categories/Импрессионизм.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_startXIX {
  background-image: url("../../src/img/categories/1_пол_19В.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_endtXIX {
  background-image: url("../../src/img/categories/2_пол_19В.jpg");
  background-size: 250px 250px;
}
.gallery__item_art_starttXX {
  background-image: url("../../src/img/categories/Начало_20В.jpg");
  background-size: 250px 250px;
}
@media (max-width: 855px) {
  .gallery__item_art {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 855px) {
  .gallery__item_art {
    gap: 20px 0px;
  }
}
@media (max-width: 695px) {
  .gallery__item_art {
    width: 159px;
    height: 200px;
  }
}
@media (max-width: 471px) {
  .gallery__item_art {
    width: 150px;
    height: 180px;
  }
}
@media (max-width: 395px) {
  .gallery__item_art {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 301px) {
  .gallery__item_art {
    width: 150px;
    height: 180px;
  }
}

.gallery__title {
  height: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: #fffbf4;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
@media (max-width: 1115px) {
  .gallery__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 855px) {
  .gallery__title {
    height: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 695px) {
  .gallery__title {
    font-size: 1.5rem;
  }
}

@keyframes show {
  from {
    opacity: 0;
    box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
  }
  to {
    opacity: 1;
  }
}
.question {
  padding: 30px 0;
}

.question_picture {
  position: absolute;
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 10%;
}

.question__art {
  position: absolute;
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.question__art__active {
  opacity: 1;
  transition: 0.5s all;
  pointer-events: all;
}

.question_picture__active {
  opacity: 1;
  transition: 0.5s all;
  pointer-events: all;
}

.question_picture__wrapper,
.question_art__wrapper {
  padding: 3% 0 3% 0;
}
@media (max-width: 1000px) {
  .question_picture__wrapper,
  .question_art__wrapper {
    padding: 22% 0 3% 0;
  }
}
@media (max-width: 366px) {
  .question_picture__wrapper,
  .question_art__wrapper {
    padding: 33% 0 3% 0;
  }
}
@media (max-width: 304px) {
  .question_picture__wrapper,
  .question_art__wrapper {
    padding: 56% 0 3% 0;
  }
}

@media (max-width: 361px) {
  .header__wrapper_question {
    flex-direction: column;
    gap: 10px 0;
  }
}

.category {
  padding: 30px 0;
}

.category__link {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #e18b34;
}
@media (max-width: 749px) {
  .category__link {
    font-size: 2rem;
  }
}

@media (max-width: 258px) {
  .header__question {
    font-size: 1.6rem;
  }
}

.question__title {
  margin: 0 0 30px 0;
  text-align: center;
  color: #fffbde;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 749px) {
  .question__title {
    font-size: 2rem;
  }
}
@media (max-width: 649px) {
  .question__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 413px) {
  .question__title {
    font-size: 1.2rem;
  }
}
@media (max-width: 294px) {
  .question__title {
    font-size: 1rem;
  }
}
@media (max-width: 258px) {
  .question__title {
    font-size: 0.85rem;
  }
}

.question__gallery {
  margin-bottom: 30px;
  text-align: center;
}

.question__img {
  width: 520px;
  height: 480px;
  border-radius: 10px;
}
@media (max-width: 749px) {
  .question__img {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 649px) {
  .question__img {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 534px) {
  .question__img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 413px) {
  .question__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 361px) {
  .question__img {
    width: 245px;
    height: 245px;
  }
}
@media (max-width: 294px) {
  .question__img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 258px) {
  .question__img {
    width: 180px;
    height: 180px;
  }
}

.question__pagination {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  justify-content: center;
}
@media (max-width: 534px) {
  .question__pagination {
    margin-bottom: 30px;
  }
}
@media (max-width: 413px) {
  .question__pagination {
    gap: 0px 10px;
  }
}
@media (max-width: 361px) {
  .question__pagination {
    gap: 0px 7px;
  }
}

.question__pag {
  width: 15px;
  height: 15px;
  background-color: #fffbde;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 258px) {
  .question__pag {
    width: 12px;
    height: 12px;
  }
}

.question__pag__active {
  background-color: #e18b34;
}

.question__answers {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(2, 0.2fr);
  justify-content: center;
  gap: 50px 80px;
}
@media (max-width: 649px) {
  .question__answers {
    gap: 30px 40px;
  }
}
@media (max-width: 534px) {
  .question__answers {
    margin-bottom: 10px;
    gap: 10px 10px;
  }
}
@media (max-width: 413px) {
  .question__answers {
    gap: 15px 15px;
  }
}

.question__answer {
  width: 300px;
  padding: 15px 5px;
  text-align: center;
  color: #fffbde;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  border: 2px solid #fffbde;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 749px) {
  .question__answer {
    width: 250px;
    padding: 10px 3px;
  }
}
@media (max-width: 649px) {
  .question__answer {
    width: 200px;
    padding: 20px 15px;
    font-size: 2rem;
  }
}
@media (max-width: 534px) {
  .question__answer {
    width: 150px;
    padding: 10px 15px;
    font-size: 1.5rem;
  }
}
@media (max-width: 413px) {
  .question__answer {
    width: 130px;
    padding: 10px 10px;
    font-size: 1.5rem;
  }
}
@media (max-width: 361px) {
  .question__answer {
    width: 100px;
    padding: 10px 10px;
    font-size: 1.2rem;
  }
}
@media (max-width: 294px) {
  .question__answer {
    width: 80px;
  }
}
@media (max-width: 258px) {
  .question__answer {
    width: 60px;
  }
}

.question__title_aftor {
  color: #e18b34;
}

.question__gallery_painting {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  justify-content: center;
  gap: 30px 30px;
}
@media (max-width: 569px) {
  .question__gallery_painting {
    gap: 20px 10px;
  }
}
@media (max-width: 304px) {
  .question__gallery_painting {
    gap: 10px 10px;
  }
}

.question__paintings {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  transition: 0.5s all;
}
@media (max-width: 870px) {
  .question__paintings {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 672px) {
  .question__paintings {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 569px) {
  .question__paintings {
    width: 200px;
    height: 180px;
  }
}
@media (max-width: 456px) {
  .question__paintings {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 361px) {
  .question__paintings {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 304px) {
  .question__paintings {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 258px) {
  .question__paintings {
    width: 100px;
    height: 100px;
  }
}

.question__paintings__active {
  opacity: 0.3;
  transition: 0.5s all;
}

.pop-art {
  display: none;
  position: fixed;
  transition: 0.5s all;
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.pop-art__active {
  display: block;
}

.pop-art__body {
  top: 3%;
  left: 30%;
  position: absolute;
  width: 522px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  background-color: #fffbde;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .pop-art__body {
    top: 0%;
    left: 20%;
  }
}
@media (max-width: 870px) {
  .pop-art__body {
    top: 15%;
    left: 25%;
    width: 300px;
    padding: 10px 15px;
  }
}
@media (max-width: 734px) {
  .pop-art__body {
    top: 10%;
    left: 25%;
    width: 300px;
    padding: 10px 15px;
  }
}
@media (max-width: 266px) {
  .pop-art__body {
    top: 5%;
    left: 10%;
    width: 300px;
    padding: 10px 15px;
  }
}
@media (max-width: 481px) {
  .pop-art__body {
    top: 12%;
    left: 15%;
    width: 300px;
    padding: 10px 15px;
  }
}
@media (max-width: 450px) {
  .pop-art__body {
    top: 15%;
    left: 10%;
  }
}
@media (max-width: 415px) {
  .pop-art__body {
    top: 15%;
    left: 6%;
  }
}
@media (max-width: 379px) {
  .pop-art__body {
    width: 250px;
    left: 10%;
    top: 15%;
  }
}
@media (max-width: 344px) {
  .pop-art__body {
    left: 7%;
  }
}
@media (max-width: 317px) {
  .pop-art__body {
    width: 220px;
    left: 5%;
    top: 10%;
  }
}
@media (max-width: 266px) {
  .pop-art__body {
    width: 180px;
    left: 5%;
    top: 10%;
  }
}
@media (max-width: 320px) {
  .pop-art__body {
    left: 5%;
    top: 15%;
  }
}

.pop-art__header {
  display: flex;
  flex-direction: column;
}

.pop-art__img {
  width: 380px;
  height: 360px;
  display: block;
  margin: 10px auto 10px;
  object-fit: cover;
  border-radius: 15px;
  animation: show 0.9s ease-in-out;
  animation-timing-function: linear;
}
@media (max-width: 870px) {
  .pop-art__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 266px) {
  .pop-art__img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 379px) {
  .pop-art__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 317px) {
  .pop-art__img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 266px) {
  .pop-art__img {
    width: 180px;
    height: 180px;
  }
}

.pop-art__check {
  color: #970809;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.pop-art_desk {
  display: flex;
  padding: 25px 0px 0px 0px;
  flex-direction: column;
  margin: auto;
  gap: 3px 0px;
}

.pop-art_name {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}

.pop-art_author, .pop-art_year {
  color: #000000;
  font-size: 1.8rem;
}

.pop-art__button {
  padding: 20px 0px 0px 0px;
  text-align: center;
  cursor: pointer;
}

.pop-art__butn {
  width: 400px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  background-color: #FFBCA2;
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 870px) {
  .pop-art__butn {
    width: 300px;
  }
}
@media (max-width: 734px) {
  .pop-art__butn {
    width: 250px;
  }
}
@media (max-width: 266px) {
  .pop-art__butn {
    width: 300px;
  }
}
@media (max-width: 379px) {
  .pop-art__butn {
    width: 250px;
  }
}
@media (max-width: 317px) {
  .pop-art__butn {
    width: 220px;
  }
}
@media (max-width: 266px) {
  .pop-art__butn {
    width: 180px;
  }
}

@keyframes show {
  from {
    opacity: 0;
    box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
  }
  to {
    opacity: 1;
  }
}
.result {
  display: none;
  position: fixed;
  transition: 0.5s all;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.result__active {
  display: block;
}

.result__body {
  top: 15%;
  left: 30%;
  width: 450px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0px;
  padding: 20px;
  background-color: #fffbde;
  border-radius: 10px;
}
@media (max-width: 1035px) {
  .result__body {
    top: 20%;
    left: 25%;
  }
}
@media (max-width: 870px) {
  .result__body {
    top: 15%;
    left: 20%;
  }
}
@media (max-width: 782px) {
  .result__body {
    top: 15%;
    left: 16%;
  }
}
@media (max-width: 695px) {
  .result__body {
    width: 380px;
    top: 16%;
    left: 18%;
  }
}
@media (max-width: 646px) {
  .result__body {
    top: 16%;
    left: 15%;
  }
}
@media (max-width: 569px) {
  .result__body {
    width: 330px;
    top: 16%;
    left: 12%;
  }
}
@media (max-width: 499px) {
  .result__body {
    width: 300px;
    top: 16%;
    left: 13%;
  }
}
@media (max-width: 456px) {
  .result__body {
    width: 280px;
    top: 16%;
    left: 13%;
  }
}
@media (max-width: 450px) {
  .result__body {
    width: 260px;
    left: 14%;
  }
}
@media (max-width: 415px) {
  .result__body {
    width: 250px;
    left: 13%;
  }
}
@media (max-width: 395px) {
  .result__body {
    width: 240px;
  }
}
@media (max-width: 379px) {
  .result__body {
    width: 220px;
  }
}
@media (max-width: 361px) {
  .result__body {
    width: 210px;
  }
}
@media (max-width: 344px) {
  .result__body {
    width: 190px;
    left: 14%;
  }
}
@media (max-width: 317px) {
  .result__body {
    width: 170px;
    left: 11%;
    top: 20%;
  }
}
@media (max-width: 266px) {
  .result__body {
    width: 150px;
    left: 8%;
    top: 22%;
  }
}

.result__img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
}
@media (max-width: 304px) {
  .result__img {
    width: 150px;
    height: 200px;
  }
}

.result__title, .result__score {
  color: #000000;
  font-size: 1.8rem;
}

.result__btns {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}
@media (max-width: 569px) {
  .result__btns {
    gap: 0 10px;
  }
}
@media (max-width: 395px) {
  .result__btns {
    flex-direction: column;
    gap: 10px 0;
  }
}

.result__btn {
  width: 110px;
  padding: 5px;
  text-align: center;
  color: #000000;
  font-size: 2rem;
  border: 1px solid #000000;
  background-color: #FFBCA2;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 569px) {
  .result__btn {
    width: 90px;
    font-size: 1.8rem;
  }
}
@media (max-width: 413px) {
  .result__btn {
    width: 75px;
    font-size: 1.5rem;
  }
}
@media (max-width: 395px) {
  .result__btn {
    padding: 5px 1px;
    width: 220px;
    font-size: 1.5rem;
  }
}
@media (max-width: 317px) {
  .result__btn {
    width: 180px;
  }
}
@media (max-width: 304px) {
  .result__btn {
    width: 150px;
  }
}

/*# sourceMappingURL=index.css.map */
