@import './normalize.css';
.logo {
  padding: 30px;
}

.logo__title {
  margin: 0 0 30px 0;
  text-align: center;
  color: #fffbde;
  font-size: 5.7rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
}
@media (max-width: 471px) {
  .logo__title {
    font-size: 4rem;
  }
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.html-quiz {
  width: 100%;
  height: 100%;
  background-image: url("../../src/img/pic/photo_2024-06-16_15-59-07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.body-gallery {
  background-color: #000000;
}

.header {
  padding: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: right;
}

.header__setting {
  width: 36px;
  height: 36px;
  background-image: url("../../src/img/setting/settings.png");
  cursor: pointer;
}

.header__wrapper_artist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 2%;
}
@media (max-width: 301px) {
  .header__wrapper_artist {
    flex-direction: column;
    gap: 10px 0px;
  }
}

.header__artist {
  margin: 0 0 0 0;
  font-size: 2.5rem;
  color: #fffbde;
  font-weight: 200;
  letter-spacing: 0.2rem;
  transition: 0.3s all;
}
@media (max-width: 471px) {
  .header__artist {
    font-size: 4rem;
  }
}
@media (max-width: 695px) {
  .header__artist {
    font-size: 2rem;
  }
}

.header__categories {
  color: #e18b34;
}

.picture {
  padding: 60px 30px;
}
@media (max-width: 395px) {
  .picture {
    padding: 5px;
  }
}

.picture__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 855px) {
  .picture__nav {
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
  }
}

.picture__link {
  width: 260px;
  padding: 8px 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid #fffbf4;
  border-radius: 20px;
  color: #fffbf4;
}
@media (max-width: 471px) {
  .picture__link {
    font-size: 1.5rem;
  }
}
@media (max-width: 471px) {
  .picture__link {
    width: 200px;
  }
}

.footer {
  padding: 37% 30px 10px 30px;
}
@media (max-width: 1077px) {
  .footer {
    padding: 28% 30px 10px 30px;
  }
}
@media (max-width: 952px) {
  .footer {
    padding: 15% 30px 10px 30px;
  }
}
@media (max-width: 930px) {
  .footer {
    padding: 20% 30px 10px 30px;
  }
}
@media (max-width: 455px) {
  .footer {
    padding: 40% 5px 5px 5px;
  }
}
@media (max-width: 395px) {
  .footer {
    padding: 50% 5px 5px 5px;
  }
}
@media (max-width: 471px) {
  .footer {
    padding: 78% 5px 5px 5px;
  }
}

.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 471px) {
  .footer__link {
    justify-content: left;
  }
}
@media (max-width: 248px) {
  .footer__link {
    flex-direction: column;
    gap: 5px 0;
  }
}

@media (max-width: 455px) {
  .footer__school_move {
    width: 61px;
    height: 23px;
  }
}

.footer__media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 471px) {
  .footer__media {
    flex-wrap: wrap;
    align-content: center;
    gap: 0 20px;
  }
}
@media (max-width: 248px) {
  .footer__media {
    flex-direction: column;
    align-content: flex-start;
  }
}

.footer__desk {
  padding-left: 50px;
  color: #fffbde;
  font-size: 2rem;
}
@media (max-width: 455px) {
  .footer__desk {
    padding-left: 30px;
    font-size: 1.5rem;
  }
}
@media (max-width: 471px) {
  .footer__desk {
    padding-left: 4px;
  }
}

.art__gallery {
  padding: 30px;
}

.art__gallery_title {
  margin: 0 0 70px 0;
  text-align: center;
  color: #e18b34;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 1115px) {
  .art__gallery_title {
    font-size: 3rem;
  }
}
@media (max-width: 695px) {
  .art__gallery_title {
    font-size: 2.6rem;
  }
}
@media (max-width: 301px) {
  .art__gallery_title {
    font-size: 2rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}
@media (max-width: 1115px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 0px;
  }
}
@media (max-width: 855px) {
  .gallery {
    justify-items: center;
  }
}
@media (max-width: 855px) {
  .gallery {
    padding-bottom: 60px;
    gap: 70px 0px;
  }
}
@media (max-width: 695px) {
  .gallery {
    gap: 50px 0px;
  }
}
@media (max-width: 571px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 395px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 70px 0px;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  cursor: pointer;
  animation: show 0.7s ease-in-out;
  animation-timing-function: linear;
}
@media (max-width: 855px) {
  .gallery__item {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 855px) {
  .gallery__item {
    gap: 20px 0px;
  }
}
@media (max-width: 695px) {
  .gallery__item {
    width: 159px;
    height: 200px;
  }
}
@media (max-width: 471px) {
  .gallery__item {
    width: 150px;
    height: 180px;
  }
}
@media (max-width: 395px) {
  .gallery__item {
    width: 195px;
    height: 206px;
  }
}
@media (max-width: 301px) {
  .gallery__item {
    width: 150px;
    height: 180px;
  }
}

.gallery__title {
  height: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: #fffbde;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 1115px) {
  .gallery__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 855px) {
  .gallery__title {
    height: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 695px) {
  .gallery__title {
    font-size: 1.5rem;
  }
}

.gallery__img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}
@media (max-width: 1115px) {
  .gallery__img {
    height: 190px;
  }
}
@media (max-width: 695px) {
  .gallery__img {
    height: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
    box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
  }
  to {
    opacity: 1;
  }
}
.question {
  padding: 30px 0;
}

@media (max-width: 361px) {
  .header__wrapper_question {
    flex-direction: column;
    gap: 10px 0;
  }
}

.category {
  padding: 30px 0;
}

.category__link {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #e18b34;
}
@media (max-width: 749px) {
  .category__link {
    font-size: 2rem;
  }
}

@media (max-width: 258px) {
  .header__question {
    font-size: 1.6rem;
  }
}

.question__title {
  margin: 0 0 30px 0;
  text-align: center;
  color: #fffbde;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 749px) {
  .question__title {
    font-size: 2rem;
  }
}
@media (max-width: 649px) {
  .question__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 413px) {
  .question__title {
    font-size: 1.2rem;
  }
}
@media (max-width: 294px) {
  .question__title {
    font-size: 1rem;
  }
}
@media (max-width: 258px) {
  .question__title {
    font-size: 0.85rem;
  }
}

.question__gallery {
  margin-bottom: 30px;
  text-align: center;
}

.question__img {
  width: 700px;
  height: 580px;
  border-radius: 10px;
}
@media (max-width: 749px) {
  .question__img {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 649px) {
  .question__img {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 534px) {
  .question__img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 413px) {
  .question__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 361px) {
  .question__img {
    width: 245px;
    height: 245px;
  }
}
@media (max-width: 294px) {
  .question__img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 258px) {
  .question__img {
    width: 180px;
    height: 180px;
  }
}

.question__pagination {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  justify-content: center;
}
@media (max-width: 534px) {
  .question__pagination {
    margin-bottom: 30px;
  }
}
@media (max-width: 413px) {
  .question__pagination {
    gap: 0px 10px;
  }
}
@media (max-width: 361px) {
  .question__pagination {
    gap: 0px 7px;
  }
}

.question__pag {
  width: 15px;
  height: 15px;
  background-color: #fffbde;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 258px) {
  .question__pag {
    width: 12px;
    height: 12px;
  }
}

.question__answers {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(2, 0.2fr);
  justify-content: center;
  gap: 50px 80px;
}
@media (max-width: 649px) {
  .question__answers {
    gap: 30px 40px;
  }
}
@media (max-width: 534px) {
  .question__answers {
    margin-bottom: 10px;
    gap: 10px 10px;
  }
}
@media (max-width: 413px) {
  .question__answers {
    gap: 15px 15px;
  }
}

.question__answer {
  width: 300px;
  padding: 15px 5px;
  text-align: center;
  color: #fffbde;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  border: 2px solid #fffbde;
  border-radius: 30px;
}
@media (max-width: 749px) {
  .question__answer {
    width: 250px;
    padding: 10px 3px;
  }
}
@media (max-width: 649px) {
  .question__answer {
    width: 200px;
    padding: 20px 15px;
    font-size: 2rem;
  }
}
@media (max-width: 534px) {
  .question__answer {
    width: 150px;
    padding: 10px 15px;
    font-size: 1.5rem;
  }
}
@media (max-width: 413px) {
  .question__answer {
    width: 130px;
    padding: 10px 10px;
    font-size: 1.5rem;
  }
}
@media (max-width: 361px) {
  .question__answer {
    width: 100px;
    padding: 10px 10px;
    font-size: 1.2rem;
  }
}
@media (max-width: 294px) {
  .question__answer {
    width: 80px;
  }
}
@media (max-width: 258px) {
  .question__answer {
    width: 60px;
  }
}

.question__answer__active {
  background-color: #FFBCA2;
  color: #000000;
}

/*# sourceMappingURL=index.css.map */
