@use'../abstract/constans' as c;
@use'../abstract/mixin' as m;

.art__gallery {
  display: block;
  padding: 30px;
}

.art__gallery_title {
  margin: 0 0 70px 0;
  text-align: center;
  color: c.$color-categories;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  
  @include m.media-desktop-artist {
    font-size: 3.0rem;
  }
  @include m.media-tablet {
    font-size: 2.6rem;
  }
  @include m.media-small-mobale {
    font-size: 2.0rem;
  }
}

.art__gallery_title_active {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  @include m.media-desktop-artist {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 0px;
  }
  @include m.media-tablet-big {
    justify-items: center;
  }
  @include m.media-tablet-big {
    padding-bottom: 60px;
    gap: 70px 0px;
  }
  @include m.media-tablet {
    gap: 50px 0px;
  }
  @include m.media-tablet-small {
    grid-template-columns: repeat(2, 1fr);
  }
  @include m.media-mobale {
    grid-template-columns: repeat(1, 1fr);
    gap: 70px 0px;
  }
}

.gallery__active {
  display: none;
  transition: .5s all;
  pointer-events: none;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;

  animation: show .7s  ease-in-out;
  animation-timing-function:linear;

 @include m.media-tablet-big {
    width: 195px;
    height: 206px;
  }
  @include m.media-tablet-big {
    gap: 20px 0px;
  }
  @include m.media-tablet {
    width: 159px;
    height: 200px;
  }
  @include m.media-mobale-small {
    width: 150px;
    height: 180px;
  }
  @include m.media-mobale {
    width: 195px;
    height: 206px;
  }
  @include m.media-small-mobale {
    width: 150px;
    height: 180px;
  }
}

.gallery__item_picture {
  &_port {
    background-image: url('../../src/img/categories/Портреты.\ Картины.jpg');
    background-size: 250px 250px;
  }

  &_scenery {
    background-image: url('../../src/img/categories/Пейзажи.\ Картины.jpg');
    background-size: 250px 250px;
  }

  &_domestic {
    background-image: url('../../src/img/categories/Бытовой\ жанр.Картины.jpg');
    background-size: 250px 250px;
  }

  &_mythology {
    background-image: url('../../src/img/categories/Мифологический\ сюжет.Картины.jpg');
    background-size: 250px 250px;
  }

  &_historical {
    background-image: url('../../src/img/categories/Исторический\ жанр.Картины.jpg');
    background-size: 250px 250px;
  }

  &_renaissance {
    background-image: url('../../src/img/categories/Возрождение.Картины.jpg');
    background-size: 250px 250px;
  }

  &_russia {
    background-image: url('../../src/img/categories/Русские\ художники.Картины.jpg');
    background-size: 250px 250px;
  }

  &_era {
    background-image: url('../../src/img/categories/Живопись_15-18В.Картины.jpg');
    background-size: 250px 250px;
  }

  &_impressionism {
    background-image: url('../../src/img/categories/Импрессионизм.Картины.jpg');
    background-size: 250px 250px;
  }

  &_startXIX {
    background-image: url('../../src/img/categories/1_пол_19В.Картины.jpg');
    background-size: 250px 250px;
  }

  &_endtXIX {
    background-image: url('../../src/img/categories/2_пол_19В.Картины.jpg');
    background-size: 250px 250px;
  }

  &_starttXX {
    background-image: url('../../src/img/categories/Начало_20В.Картины.jpg');
    background-size: 250px 250px;
  }

  @include m.media-tablet-big {
    width: 195px;
    height: 206px;
  }
  @include m.media-tablet-big {
    gap: 20px 0px;
  }
  @include m.media-tablet {
    width: 159px;
    height: 200px;
  }
  @include m.media-mobale-small {
    width: 150px;
    height: 180px;
  }
  @include m.media-mobale {
    width: 195px;
    height: 206px;
  }
  @include m.media-small-mobale {
    width: 150px;
    height: 180px;
  }
}

.gallery__item_art {
  &_port {
    background-image: url('../../src/img/categories/Портреты.jpg');
    background-size: 250px 250px;
  }

  &_scenery {
    background-image: url('../../src/img/categories/Пейзажи.jpg');
    background-size: 250px 250px;
  }

  &_domestic {
    background-image: url('../../src/img/categories/Бытовой жанр.jpg');
    background-size: 250px 250px;
  }

  &_mythology {
    background-image: url('../../src/img/categories/Мифологический сюжет.jpg');
    background-size: 250px 250px;
  }

  &_historical {
    background-image: url('../../src/img/categories/Исторический жанр.jpg');
    background-size: 250px 250px;
  }

  &_renaissance {
    background-image: url('../../src/img/categories/Возрождение.jpg');
    background-size: 250px 250px;
  }

  &_russia {
    background-image: url('../../src/img/categories/Русские художники.jpg');
    background-size: 250px 250px;
  }

  &_era {
    background-image: url('../../src/img/categories/Живопись_15-18В.jpg');
    background-size: 250px 250px;
  }

  &_impressionism {
    background-image: url('../../src/img/categories/Импрессионизм.jpg');
    background-size: 250px 250px;
  }

  &_startXIX {
    background-image: url('../../src/img/categories/1_пол_19В.jpg');
    background-size: 250px 250px;
  }

  &_endtXIX {
    background-image: url('../../src/img/categories/2_пол_19В.jpg');
    background-size: 250px 250px;
  }

  &_starttXX {
    background-image: url('../../src/img/categories/Начало_20В.jpg');
    background-size: 250px 250px;
  }

  @include m.media-tablet-big {
    width: 195px;
    height: 206px;
  }
  @include m.media-tablet-big {
    gap: 20px 0px;
  }
  @include m.media-tablet {
    width: 159px;
    height: 200px;
  }
  @include m.media-mobale-small {
    width: 150px;
    height: 180px;
  }
  @include m.media-mobale {
    width: 195px;
    height: 206px;
  }
  @include m.media-small-mobale {
    width: 150px;
    height: 180px;
  }
}

.gallery__title {
  height: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: c.$color-link;
  font-size: 2.0rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  @include m.media-desktop-artist {
    font-size: 1.8rem;
  }
  @include m.media-tablet-big {
    height: 0px;
    margin-bottom: 40px;
  }
  @include m.media-tablet {
    font-size: 1.5rem;
  }
}



//animation start

@keyframes show {
  from {
    opacity: 0;
    box-shadow: -1px 0px 5px 9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 9px rgba(0,0,0,0.75);
  }
  to {
    opacity: 1;
  }
}

//animation end


