.question__gallery_painting {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  justify-content: center;
  gap: 30px 30px;
  @include media-mobale-big-question-painting {
    gap: 20px 10px;
  }
  @include media-mobale-small-question-painting {
    gap: 10px 10px;
  }
}

.question__paintings {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  transition: .5s all;
  @include media-tablet-question-painting {
    width: 300px;
    height: 250px;
  }
  @include media-tablet-small-question-painting {
    width: 250px;
    height: 250px;
  }
  @include media-mobale-big-question-painting {
    width: 200px;
    height: 180px;
  }
  @include  media-mobale-question-painting {
    width: 160px;
    height: 160px;
  }
  @include media-tablet-mobale-big-question {
    width: 140px;
    height: 140px;
  }
  @include media-mobale-small-question-painting {
    width: 120px;
    height: 120px;
  }
  @include media-mobale-small-question {
    width: 100px;
    height: 100px;
  }
}

.question__paintings__active {
  opacity: 0.3;
  transition: .5s all;
}



