$color-body: #000000;
$color-logo: #fffbde;
$color-logo-bg: #038C7F;
$color-link: #fffbf4;
$color-categories: #e18b34;
$color-answer:  #FFBCA2;
$color-answer-false: #970809;



$content-width: 1440px;

