//media main
$media-desktop-big:1077px;
$media-desktop-bg:1205px;
$media-desktop:952px;
$media-desktop-small:930px;
$media-tablet-big: 634px;
$media-tablet-big-bg: 608px;
$media-mobale-big: 455px;
$media-mobale: 325px;
$media-mobale-first: 320px;
$media-mobale-small: 303px;
$media-small: 248px;

//main artist
$media-desktop-artist: 1115px;
$media-tablet-big: 855px;
$media-tablet: 695px;
$media-tablet-small: 571px;
$media-mobale-small: 471px;
$media-mobale: 395px;
$media-small-mobale: 301px;

//Question start
$media-tablet-question: 749px;
$media-tablet-big-question: 649px;
$media-tablet-small-question: 534px;
$media-tablet-mobale-question: 413px;
$media-tablet-mobale-big-question: 361px;
$media-tablet-mobale-small-question: 294px;
$media-mobale-small-question: 258px;

//Painting Question
$media-desktop-question: 1000px;
$media-tablet-question-painting: 870px;
$media-tablet-small-question-painting: 672px;
$media-mobale-big-question-painting: 569px;
$media-mobale-question-painting: 456px;
$media-mobale-painting: 366px;
$media-mobale-small-question-painting: 304px;

//popap
$media-mobale-result-popap:1035px;
$media-mobale-result-popap-small:782px;
$media-tablet-result-popap-small: 646px;
$media-mobale-result: 499px;

$media-mobale-first-popap:768px;
$media-tablet-popap: 734px;
$media-mabale-popap: 511px;
$media-tablet-popap-mobale-first: 481px;
$media-mabale-popap-first: 450px;
$media-mabale-popap-small-first: 415px;
$media-mabale-big-popap: 379px;
$media-mabale-big-popap-first: 344px;
$media-mabale-small-popap: 317px;
$media-mabale-popap: 266px;
