@use'../abstract/constans' as c;

.bg {
  padding: 0 0 20% 0;
  background-image: url('../../src/img/pic/photo_2024-06-16_15-59-07.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;
};

body, .body-gallery {
  background-color: c.$color-body;
};


