html {
  width: 100%;
  height: 100%;
  background-image: url('../../src/img/pic/photo_2024-06-16_15-59-07.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  
}