.footer {
  padding: 37% 30px 10px 30px;
  @include media-desktop-big {
    padding: 28% 30px 10px 30px;
  }
  @include media-desktop {
    padding: 15% 30px 10px 30px;
  }
  @include media-desktop-small {
    padding: 20% 30px 10px 30px;
  }
  @include media-mobale-big {
    padding: 40% 5px 5px 5px;
  }
  @include media-mobale {
    padding: 50% 5px 5px 5px;
  }
  @include media-mobale-small {
    padding: 78% 5px 5px 5px;
  }
}

.footer__link {
  display: flex;
  padding: 30px 0px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
  @include media-mobale-small {
    justify-content: left;
  }
  @include media-small {
    flex-direction: column;
    gap: 5px 0;
  }
}

.footer__school_move {
  @include media-mobale-big {
    width: 61px;
    height: 23px;
  }
}

.footer__media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include media-mobale-small {
    flex-wrap: wrap;
    align-content: center;
    gap: 0 20px;
  }
  @include media-small {
    flex-direction: column;
    align-content:flex-start;
  }
}

.footer__desk {
  padding-left: 50px;
  color: $color-logo;
  font-size: 2.0rem;
  @include media-mobale-big {
    padding-left: 30px;
    font-size: 1.5rem;
  }
  @include media-mobale-small {
    padding-left: 4px;
  }
}