.picture {
  padding: 30px;
}

.picture__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.picture__link {
  width: 260px;
  padding: 8px 5px;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  border: 2px solid $color-link;
  border-radius: 10px;
  color: $color-link;
}